.user_container {
  margin-top: 40px;
  margin-bottom: 100%;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_container > img {
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.user_container > img:hover {
  border-radius: 0;
  width: 450px;
  height: 350px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08),
    0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
    z-index:2;
}

.user_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user_info {
  color: grey;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.user_info:hover {
  text-decoration: underline;
  color: #58a6ff;
  cursor: pointer;
}

.user_infos > h5 {
  align-items: center;
}


.smile_icon {
  height: 25px;
  position: relative;
  left: 89px;
  bottom: 50px;
  cursor: pointer;
}

.profile-container {
  width: 100%;
  padding: 1em;
}

.profile-image {
  border: 1px solid #ffffff33;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #238042;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  position: relative;

}

.profile-sticker {
  position: absolute;
  /* top: 1px; */
  display: inline-flex;
  border: 1px solid #ffffff33;
  border-radius: 50%;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  bottom: 2.5em;
  right: 0;
  width: 38px;
  height: 38px;
}

.profile-fullname {
  font-size: 24px;
  line-height: 1.25;
}

.profile-user-info {
  border-bottom: 1px solid #ffffff33;
  
}

.profile-sidenar-info {
  display: flex;
  font-size: 16px;
  gap: 10px;
  justify-content: left;
  text-align: center;
}

.profile-sidenar-info-link:hover {
  text-decoration: underline;
  color: #58a6ff;
  cursor: pointer;
}

.profile-sidenar-info-follow:hover {
  color: #58a6ff;
  cursor: pointer;
}

@media (max-width: 868px) {
  .profile-image {
      width: 100px;
      height: 100px;
      margin-top:0px;
  }

  .profile-sticker {
      display: none;
  }
}