.nav-tabs{
    margin-top: 45px;
}

.nav-tabs, .nav-link.active, .nav-item.show .nav-link{
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.nav-link{
    color: #585858;
    font-size: 15px;
}