.repo_container{
    cursor: pointer;
    width: 25%;
    border: solid 1px #ccc;
    background-color: rgba(235, 235, 235, 1);
    border-radius: 5px;
    padding: 10px;
    border-right: 40px;
    border-bottom: 10px;
    margin-left: 40px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5 ease-in;
}

.repo_container :hover{
    transform: scale(1.1, 1.1);
    filter: invert(1);
}

.repo_title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 1.5rem;
    max-height: 1.5rem;
}

.repo_title > span{
    color: #0366d6;
}